* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:gray;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}


.header h1 {
    display: inline-block;
    font-size: 48px;
    color: rgba(228, 151, 8, 0.89);
}


.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/coder\ pic\ 1.jpeg);
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.About_Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #ffffff;  
}

.About_Me img {
    max-height: 200px;
}

.About_Me h2 {
    margin-bottom: 20px;
    color: rgba(228, 151, 8, 0.89);
    font-size: 26px;
}

.first_project {
    width: 100%;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:black;
    color: #ffffff;
}

.my-work {
    width: 100%;
    padding-bottom: 20px;
}

.first_project img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  margin-bottom: 10%;
}

.first_project h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: rgba(228, 151, 8, 0.89);
}

.other_projects {
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:black;
    color: #ffffff; 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.other_projects img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-item{
 display: flex; 
 width: 45%;
 justify-content: space-between;  
}

.flex-item img {
    width: 70%;
    height: 70%;
}

/* .Resume {
padding-bottom: 20px;
height: 300px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color:black;
color: #ffffff; 
}

.Resume h2 {
    color: rgba(228, 151, 8, 0.89);
}

#Resume {
    padding: 50px;
} */

.contact {
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:black;
    color: #ffffff; 
    padding-bottom: 20px;
  }

.contact h2 {
    color: rgba(228, 151, 8, 0.89);
}
#Camil {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .hero {
        height: 100px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url(../images/02-run-buddy.jpg);
        background-size: cover;
        background-position: center;
    }
  }
